<footer class="md:flex md:items-center border-t-2 border md:justify-between px-4 2xl:px-0 my-4 pt-3 pb-10 md:py-10 bg-white">
	<p class="text-sm text-center text-gray-500 mb-4 md:mb-0 px-8">
		© 2023
		<a href="{{ path('app_home') }}" class="hover:underline" target="_blank">Snowtricks.com</a>.
		{{ 'All rights reserved. Made with'|trans }}
		<span class="text-red-500 py-4">♥</span>
		{{ 'by'|trans }}
		Thomas Chauveau pour OpenClassrooms.
	</p>
</footer>
