<div id="hs-subscription-with-image" class="hs-overlay hidden w-full space-x-2 flex h-full fixed top-0 left-0 z-[60] overflow-x-hidden overflow-y-auto">
	<div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 opacity-0 ease-out transition-all w-full h-full bg-transparent shadow-lg rounded-xl dark:bg-gray-800 absolute inset-0">
		<div class="relative flex flex-col h-full">
			<div class="absolute top-2 right-2 z-[10]">
				<button type="button" class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-md bg-white/[.1] text-white hover:text-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition-all text-sm dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800" data-hs-overlay="#hs-subscription-with-image">
					<span class="sr-only">{{ 'Close'|trans }}</span>
					{{ heroicon('x-mark', 'h-5 w-5') }}
				</button>
			</div>
			<div class="w-5/6 h-[95vh] mx-auto">
				<img id="modal-image" class="w-full h-full object-cover rounded-xl" src="" alt="Image Description">
			</div>
		</div>
	</div>
</div>
