<footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
	<div class="mx-auto max-w-screen-xl">
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"/>
		<div class="sm:flex sm:items-center sm:justify-between">
			<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022
				<a href="{{ path('app_home') }}" class="hover:underline">Snowtricks</a>. All Rights Reserved.
			</span>
		</div>
	</div>
</footer>
