<header class="lg:sticky lg:top-0 fixed w-full z-10">
	<nav class="bg-white border-gray-200 px-4 py-2.5 dark:bg-gray-800">
		<div
			class="flex justify-between items-center">
			<!-- Mobile navbar -->
			<div class="flex lg:hidden justify-around w-full">
				<i data-feather="home"></i>
				<i data-feather="bookmark"></i>
				<!-- if no user <i data-feather="log-in"></i> -->
				<!-- if user logged  <i data-feather="log-out"></i> -->
			</div>
			<!-- Desktop navbar -->
			<div class="hidden lg:flex justify-start items-center">
				{% include "_partials/brand.html.twig" %}
			</div>
			<div class="hidden lg:flex justify-end space-x-8 lg:order-2">
				<a href="{{ path('app_home') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Home</a>
				<a href="#" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Tricks</a>
				<a href="{{ path('app_login') }}" class="py-2 px-4 text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Sign In</a>
			</div>
		</div>
	</nav>
</header>
