<article class="bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
	<p class="mb-5 font-light text-gray-500 dark:text-gray-400">
		<img src="https://loremflickr.com/320/240/dog" alt="trick image">
	</p>
	<div class="flex justify-between items-center">
		<div class="flex items-center space-x-4">
			<h2 class="pl-2 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				<a href="{{ trick.slug|default('') }}">{{ trick.name|default('Not yet') }}</a>
			</h2>
			<i data-feather="edit-2" class="feather-24 pb-2"></i>
			<i data-feather="trash-2" class="feather-24 pb-2"></i>
		</div>
	</div>
</article>
