parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\RegistrationController\\:\\:register\\(\\) should return Symfony\\\\Component\\\\HttpFoundation\\\\Response but returns Symfony\\\\Component\\\\HttpFoundation\\\\Response\\|null\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Parameter \\#2 \\$plainPassword of method Symfony\\\\Component\\\\PasswordHasher\\\\Hasher\\\\UserPasswordHasherInterface\\:\\:hashPassword\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/RegistrationController.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:getPassword\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:isVerified\\(\\) should return bool but returns bool\\|null\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Repository\\\\UserRepository\\:\\:findOneByUsername\\(\\) should return App\\\\Entity\\\\User\\|null but returns mixed\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Parameter \\#1 \\$password of class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Credentials\\\\PasswordCredentials constructor expects string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Security/AppAuthenticator.php

		-
			message: "#^Parameter \\#1 \\$userIdentifier of class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\UserBadge constructor expects string, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Security/AppAuthenticator.php

		-
			message: "#^Parameter \\#2 \\$csrfToken of class Symfony\\\\Component\\\\Security\\\\Http\\\\Authenticator\\\\Passport\\\\Badge\\\\CsrfTokenBadge constructor expects string\\|null, bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/Security/AppAuthenticator.php
