@import 'flowbite/dist/flowbite.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.feather-8 {
    width: 8px;
    height: 8px;
}

.feather-16 {
    width: 16px;
    height: 16px;
}

.feather-24 {
    width: 24px;
    height: 24px;
}

.feather-32 {
    width: 32px;
    height: 32px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0px 0;
}

@media (min-width: 768px) {
    .hero {
        height: 100vh;
    }
}

@media (max-width: 767px) {
    .hero {
        height: calc(95vh - 30px);
    }
}

.featured-card {
    height: 12.5rem;
    width: 19rem;
}
