<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-gray-50 dark:bg-gray-800">
		<header>
			{% include "_partials/_navbar.html.twig" %}
		</header>
		<div class="flex md:pt-16 bg-gray-50 dark:bg-gray-900">
			<div id="main-content" class="relative w-full max-w-screen-2xl mx-auto h-full bg-gray-50 dark:bg-gray-900">
				<div class="md:px-4 pt-6 2xl:px-0" data-np-autofill-type="other" data-np-watching="1">
					{% include "_partials/_alerts.html.twig" %}
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
