{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Edit Trick'|trans }}
{% endblock %}

{% block body %}
	<div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
		{{ include('trick/_form.html.twig', {'button_label': 'Update Trick'}) }}
	</div>
{% endblock %}
